/*
1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .3s;
    font-weight: 700;
    font-family: "League Spartan", sans-serif;
    /* color: var(--Very-dark-grayish-blue); */
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
    */
    body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
    */
    p, h1, h2, h3, h4, h5, h6 {
      overflow-wrap: break-word;
    }
    /*
    8. Create a root stacking context
    */
    #root, #__next {
      isolation: isolate;
    }
    :root{
      /* Theme 1 */
      
      /* #Backgrounds */
      /* (main background) */
      --Very-dark-desaturated-blue-bg: hsl(222, 26%, 31%);
      /* (toggle background, keypad background) */
  --Very-dark-desaturated-blue-toggle: hsl(223, 31%, 20%);
  /* (screen background) */
  --Very-dark-desaturated-blue-screen: hsl(224, 36%, 15%);
  
  /* #Keys */
  /* (key background) */
  --Desaturated-dark-blue-key: hsl(225, 21%, 49%);
  /* (key shadow) */
  --Desaturated-dark-blue-shadow: hsl(224, 28%, 35%);
  
  /* (key background, toggle) */
  --Red: hsl(6, 63%, 50%);
  /* (key shadow) */
  --Dark-red: hsl(6, 70%, 34%);
  
  /* (key background) */
  --Light-grayish-orange: hsl(30, 25%, 89%);
  /* (key shadow) */
  --Grayish-orange: hsl(28, 16%, 65%);
  
  /* #Text */
  --Very-dark-grayish-blue: hsl(221, 14%, 31%);
  --White: hsl(0, 0%, 100%);
  /* Theme 1 */
  
  /* Theme 2 */
  
  /* #Backgrounds */
  /* (main background) */
  --Light-gray: hsl(0, 0%, 90%);
  /* (toggle background, keypad background) */
  --Grayish-red: hsl(0, 5%, 81%);
  /* (screen background) */
  --Very-light-gray: hsl(0, 0%, 93%);
  
  /* #Keys */
  /* (key background) */
  --Dark-moderate-cyan: hsl(185, 42%, 37%);
  /* (key shadow) */
  --Very-dark-cyan: hsl(185, 58%, 25%);
  
  /* (key background, toggle) */
  --Orange: hsl(25, 98%, 40%);
  /* (key shadow) */
  --Dark-orange: hsl(25, 99%, 27%);
  /* (key background) */
  --Light-grayish-yellow: hsl(45, 7%, 89%);
  /* (key shadow) */
  --Dark-grayish-orange: hsl(35, 11%, 61%);
  
  /* #Text */
  --Very-dark-grayish-yellow: hsl(60, 10%, 19%);
  /* (text) */
  --White: hsl(0, 0%, 100%);
  /* Theme 2 */
  
  /* Theme 3 */
  
  /* Backgrounds */
  /* (main background) */
  --Very-dark-violet-bg: hsl(268, 75%, 9%);
  /* (toggle background, keypad background, screen background) */
  --Very-dark-violet-toggle: hsl(268, 71%, 12%);
  
  /* Keys */
  /* (key background) */
  --Dark-violet: hsl(281, 89%, 26%);
  /* (key shadow) */
  --Vivid-magenta: hsl(285, 91%, 52%);
  
  /* (key background, toggle) */
  --Pure-cyan: hsl(176, 100%, 44%);
  /* (key shadow) */
  --Soft-cyan: hsl(177, 92%, 70%);
  
  /* (key background) */
  --Very-dark-violet: hsl(268, 47%, 21%);
  /* (key shadow) */
  --Dark-magenta: hsl(290, 70%, 36%);
  
  /* Text */
  --Light-yellow: hsl(52, 100%, 62%);
  --Very-dark-blue: hsl(198, 20%, 13%);
  /* (text) */
  --White: hsl(0, 0%, 100%);
  /* Theme 3 */
}
.attribution { 
  font-size: 14px; 
  text-align: center;
  background: #2e2e2e;
  color: #fff;
  padding: 24px;
}
.attribution a { 
  color: hsl(228, 45%, 60%); 
}
p{
  font-size: 16px;
}
.number{
  font-size: 32px;
}
/* Theme 1 */
main{
  min-height: calc(100vh - 69px);
  display: grid;
  place-items: center;
  background: var(--Very-dark-desaturated-blue-bg);
}
.header{
  color: var(--White);
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-bottom: 18px;
}
.calc{
  font-size: 24px;
}
.theme-cont{
  display: flex;
  align-items: end;
  gap: 12px;
}
.theme-phar{
  font-size: 12px;
  font-weight: 400;
}
.theme-nums{
  display: flex;
  gap: 14px;
  font-size: 12px;
  margin-left: 6px;
}
.num{
  font-size: 12px;
}
.radio-cont{
  padding: 4px;
  background: var(--Very-dark-desaturated-blue-toggle);
  border-radius: 50px;
  height: max-content;
  display: flex;
  gap: 6px;
}
.radio{
  /* Sakrije sam input element */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  /* Postavi dimenzije i poziciju */
  width: 13px;
  height: 13px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  /* Postavi izgled */
  /* border: 2px solid #999; */
  border-radius: 50%;
  /* background-color: #fff; */
}
.radio:checked{
  background-color: var(--Red);
  /* box-shadow: 0 0 0 3px orange; */
}
.calculator{
  padding: 60px 0;
}
.key-cont{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 18px;
  gap: 18px;
  background: var(--Very-dark-desaturated-blue-toggle);
  border-radius: 6px;
}
.span-2{
  grid-column: span 2;
}
.btn{
  padding: 6px 18px;
  font-size: 24px;
  border: none;
  outline-color: transparent;
  border-radius: 6px;
  background: var(--Light-grayish-orange);
  border-bottom: 4px solid var(--Grayish-orange);
  color: var(--Very-dark-grayish-blue);
  cursor: pointer;
}
.btn:hover{
  filter: brightness(1.4);
}
.screen{
  width: 100%;
  border: none;
  outline: none;
  font-size: 32px;
  text-align: right;
  padding: 16px;
  background: var(--Very-dark-desaturated-blue-screen);
  border-radius: 6px;
  margin-bottom: 12px;
  color: var(--White);
}
.color-key{
  background: var(--Desaturated-dark-blue-key);
  border-bottom: 4px solid var(--Desaturated-dark-blue-shadow);
  color: var(--White);
}
.equal{
  background: var(--Red);
  border-bottom: 4px solid var(--Dark-red);
  color: var(--White);
}
/* Theme 1 */
/* Theme 2 */
.theme-2{
  background: var(--Light-gray);
}
.theme-2 .key-cont, .theme-2 .radio-cont{
  background: var(--Grayish-red);
}
.theme-2 .color-key{
  background: var(--Dark-moderate-cyan);
  border-bottom: 4px solid var(--Very-dark-cyan);
}
/* Theme 2 */
/* Theme 3 */
.theme-3{
  background: var(--Very-dark-violet);
}
/* Theme 3 */
/* Extra large devices (large desktops, 1200px and up) */
@media (width < 1200px)  {}

/* Large devices (desktops, 992px and up) */
@media (width < 992px) {}

/* Medium devices (tablets, 768px and up) */
@media (width < 768px) {}

/* Small devices (landscape phones, 576px and up) */
@media (width < 576px) {
  .calculator{
    padding: 24px;
  }
}